<!-- <div class="home-container">
    <span class="home-text">{{profile.bio}}</span>
    <h1 class="home-text1">@{{profile.userName}}</h1>
    <img
      alt="image"
      src={{profile.profilePic}}
      class="home-image"
    />
    <h1 class="home-text2">
      <span>My Posts</span>
    </h1>
    <h1 class="home-text5">{{profile.followers}} Followers</h1>
    <a (click)="editProfile($event, profile._id)" class="home-link" style="text-decoration: none;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Edit Profile</a>
</div> -->


<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <img alt="image" src={{profile.profilePic}}><br/>
            <h1 style="font-weight: bold;">@{{profile.userName}}</h1>
          </mat-card-title>
          <div class="col-sm-7" align="right">
            <mat-card-actions>
              <a (click)="editProfile($event, profile._id)" class="home-link" style="text-decoration: none; font-size: large;">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Edit Profile</a>
            </mat-card-actions>
            </div>
          <mat-card-subtitle>
            <h2>{{profile.bio}}</h2>
            <h3>{{profile.followers}} Followers</h3>
          </mat-card-subtitle>
        </mat-card-header>

        <h2>My Posts</h2>
        <div class="container">
          <div class="cards" *ngFor="let post of posts">
            <div class="card" *ngIf="username == post.postedBy">
              <div class="card__header">
                <img src="{{post.featuredImage}}" alt="card__image" class="card__image" width="600">
              </div>
              <div class="card__body">
                <h4>{{post.caption}}</h4>
              </div>
              <div class="card__footer">
                <div class="user">
                  <div class="user__info">
                    <h5 style="text-decoration: none; color: blue">@{{post.postedBy}}</h5>
                    <small><i class="fa fa-clock-o"></i> {{post.postDate | date:'MMM d, y, h:mm:ss a'}}</small>
                  </div>
                </div>
                <div class="likes" id="likeID">
                  
                  <!-- New handlelike code -->
                  <a (click)="handleLike(post._id)" class="btn btn-lg">
                    <i [ngClass]="post.likedBy.includes(username) ? 'fa fa-heart' : 'fa fa-heart-o'" id="like-icon"
                       [style.color]="post.likedBy.includes(username) ? 'red' : ''"></i> {{post.likes}}
                  </a>
        
                </div>
                <div class="comments"><a (click)="addComment(post._id)" class="btn btn-lg">
                  <i class="fa fa-comment-o"></i> {{post.comments.length}}</a>
                </div>
                <div class="delete w-50" *ngIf="username == post.postedBy"><a (click)="handleDelete(post._id)"
                    class="btn btn-lg btn-danger"><i class="fa fa-trash-o"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>