/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

html {
  scroll-behavior: smooth;
}

mat-card {
  width: 800px;
}

.to-top {
  cursor: pointer;
  position: fixed;
  width: 50px;
  height: 50px;
  background: red;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  opacity: 0;
}

.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

img {
  max-width: 347px;
  max-height: 150px;
  display: block;
  object-fit: cover;
  background-size: 150px;
}

.cards {
    position: relative;
    left: 8%;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}


.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__info > small {
  color: #666;
}

:host { 
    display: contents; 
  }

  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text {
    top: 162px;
    left: 320px;
    width: 500px;
    height: 80px;
    position: absolute;
    font-size: 23px;
    text-transform: capitalize;
  }
  .home-text1 {
    top: 75px;
    left: 319px;
    position: absolute;
  }
  .home-image {
    top: 43px;
    left: 43px;
    height: 202px;
    position: absolute;
    align-self: flex-start;
    object-fit: cover;
  }
  .home-text2 {
    top: 314px;
    left: 56px;
    position: absolute;
  }
  .home-text5 {
    top: 75px;
    right: 410px;
    position: absolute;
  }
  .home-link {
    top: 154px;
    right: 72px;
    padding: 3px;
    position: absolute;
    font-size: 20px;
    border-color: var(--dl-color-gray-black);
    border-width: 3px;
  }
   */

   html {
    scroll-behavior: smooth;
  }
  
  mat-card {
    width: 800px;
  }
  
  .to-top {
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 50px;
    background: red;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    opacity: 0;
  }
  
  .show-scrollTop {
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
  
  img {
    max-width: 347px;
    max-height: 150px;
    display: block;
    object-fit: cover;
    background-size: 150px;
  }
  
  .followButton {
    font-size: large;
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    position: absolute;
  }
  
.follower-link {
  color: blue;
}

.follower-link:hover {
  color: aqua;
  text-decoration: underline;
}

.profile-image {
  max-width: 150px;
  max-height: 150px;
  border: 1px solid red;
  border-radius: 50%;
  overflow: hidden;
}

.profile-bio {
  max-width: 200px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}