.navbar {
    background-color: red !important;
    color: white;
    animation: downfromtop 0.7s ease-in 0s 1 alternate forwards;
}

@keyframes downfromtop {
    0% {
        transform: translateY(-100%);
        opacity: 0%;
    }

    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

.navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}

::ng-deep .mat-form-field-label {
    color: white !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: white !important;
    caret-color: white !important;
}

::ng-deep.mat-form-field-underline {
    background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
    background-color: white !important;
}

::ng-deep.mat-input-element {
    caret-color: white !important;
}

::ng-deep .mat-form-field-wrapper {
    margin-bottom: -1em;
    margin-top: -1em;
 }
