<!-- <br />
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <form (ngSubmit)="formSubmit()">
                <mat-card>
                    <mat-card-title>
                        <div class="row">
                            <div class="d-flex justify-content-left">
                              <button class="return" (click)="goBack()">< Go back</button>
                            </div>
                        </div><br/>
                        <div class="row">
                            <div class="d-flex justify-content-left">
                                <h2>New Post</h2>
                            </div>
                        </div>
                    </mat-card-title>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="text" placeholder="File or URL" class="form-control" id="featuredImage" name="featuredImage" [(ngModel)]="post.featuredImage">
                    </div>
                    <br/>
                    <div class="form-group">
                        <label>Caption</label>
                        <input type="text" placeholder="Example text" class="form-control" id="caption" name="caption" [(ngModel)]="post.caption">
                    </div>
                    <br>
                    <div class="alert alert-danger" *ngIf="error">
                        <p>{{error}}</p>
                    </div>

                    <mat-card-actions align="end">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success btn-md">Post</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
    </div>
</div>
<br /> -->


<br />
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <form (ngSubmit)="formSubmit()">
                <mat-card>
                    <mat-card-title>
                        <div class="row">
                            <div class="d-flex justify-content-left">
                              <button class="return" (click)="goBack()">< Go back</button>
                            </div>
                        </div><br/>
                        <div class="row">
                            <div class="d-flex justify-content-left">
                                <h2>New Post</h2>
                            </div>
                        </div>
                    </mat-card-title>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="text" placeholder="File or URL" class="form-control" id="featuredImage" name="featuredImage" [(ngModel)]="post.featuredImage">
                    </div>
                    <br/>
                    <div class="form-group">
                        <label>Caption</label>
                        <input type="text" placeholder="Example text" class="form-control" id="caption" name="caption" [(ngModel)]="post.caption">
                    </div>
                    <br>
                    <div class="alert alert-danger" *ngIf="error">
                        <p>{{error}}</p>
                    </div>

                    <mat-card-actions align="end">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success btn-md">Post</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
    </div>
</div>
<br />
