.comment-block {
    display: grid;
    grid-template-columns: 7fr 2fr 2fr;
}

.comment-author {
    left: 10px;
    top: 5px;
    color: blue;
}

.comment-date {
    left: 50px;
    top: 5px;
}

.comment-text {
    left: 10px;
    top: 50px;
}

.comment-reply {
    width: 30px;
    height: 30px;
}

.comment-delete {
    width: 30px;
    height: 30px;
}

.return {
    padding: 10px 10px 10px 10px;
    font-size: 17px;
    background-color: red;
    color: white;
    border: none;
}

.return:hover {
    background-color: darkred;
}

mat-card {
    width: 800px;
}

.reply-button {
    background-color: lightgrey;
}