.comment-block {
    display: grid;
    grid-template-columns: 9fr 1fr 1fr;
    border: 0.5px solid red;
    margin-bottom: 5px;
    padding: 3px;
}

.comment-author {
    left: 10px;
    top: 5px;
    color: blue;
}

.comment-author:hover {
    color: lightblue;
}

.comment-date {
    left: 50px;
    top: 5px;
}

.comment-text {
    left: 10px;
    top: 50px;
    white-space: pre-line;
}

.comment-reply {
    width: 30px;
    height: 30px;
}

.comment-delete {
    width: 30px;
    height: 30px;
}

.return {
    padding: 10px 10px 10px 10px;
    font-size: 17px;
    background-color: red;
    color: white;
    border: none;
}

.return:hover {
    background-color: darkred;
}

mat-card {
    width: 800px;
}

.reply-button {
    background-color: lightgrey;
}

.reply-button:hover {
    background-color: darkgray;
}

.form-control {
    height: max-content;
    max-height: fit-content;
}