<!-- <div class="d-flex justify-content-center">
  <mat-card>
    <div class="new-comment">
        <div class="row">
            <div class="d-flex justify-content-left">
              <button class="return" (click)="goBack()">< Go back</button>
            </div>
        </div><br/>
        <form (ngSubmit)="newComment()" class="commenting-form">
            <div class="row">
              <div class="form-group col-md-12">
                <textarea name="usercomment" id="usercomment" placeholder="Type your comment" class="form-control" [innerHTML]="commentText" [(ngModel)]="commentText"></textarea>
              </div>
              <mat-card-actions align="end">
              <div class="pull-right">
                <button type="submit" class="btn btn-secondary">Add comment</button>
              </div>
            </mat-card-actions>
            </div>
          </form>
      </div>
      <div class="comments">
          <div class="comment-block" *ngFor="let comment of post.comments">
              <div class="comment-author">@{{comment?.author}}</div>
              <div class="comment-date">{{comment?.date | date:'mediumDate'}}</div>
              <div class="comment-text">{{comment?.comment}}</div><br>
              <div class="comment-delete" *ngIf="username == comment.author"><a (click)="handleDeleteComment(comment)"
                class="btn btn-lg btn-danger"><i class="fa fa-trash-o"></i></a></div>
          </div>
      </div>
    </mat-card>
</div> -->


<div class="d-flex justify-content-center">
  <mat-card>
    <div class="new-comment">
        <div class="row">
            <div class="d-flex justify-content-left">
              <button class="return" (click)="goBack()">< Go back</button>
            </div>
        </div><br/>
        <form (ngSubmit)="newComment()" class="commenting-form">
            <div class="row">
              <div class="form-group col-md-12">
                <textarea name="usercomment" id="usercomment" placeholder="Type your comment" class="form-control" [innerHTML]="commentText" [(ngModel)]="commentText"></textarea>
              </div>
              <mat-card-actions align="end">
              <div class="pull-right">
                <button type="submit" class="btn btn-secondary">Add comment</button>
              </div>
            </mat-card-actions>
            </div>
          </form>
      </div>
      <div class="comments">
          <div class="comment-block" *ngFor="let comment of post.comments">
              <div class="comment-author">@{{comment?.author}}</div>
              <!-- <div class="comment-date">{{comment?.date | date:'mediumDate'}}</div> --> 
              <div class="comment-date">{{comment?.date | date:'MMM d, y, h:mm:ss a'}}</div>
              <div class="comment-text">{{comment?.comment}}</div><br>
              <div class="comment-reply"><a (click)="handleReplyComment(comment)"
                class="reply-button"><i class="fa fa-reply"></i></a></div>
              <div class="comment-delete" *ngIf="username == comment.author"><a (click)="handleDeleteComment(comment)"
                class="btn btn-lg btn-danger"><i class="fa fa-trash-o"></i></a></div>
          </div>
      </div>
    </mat-card>
</div>
