<div class="container">
    <div class="row">
        <div class="post col-xl-6" *ngFor="let post of posts">
          <div class="post-thumbnail"><img src="{{post.featuredImage}}" alt="..." class="img-fluid" width="100px" height="100px"></div>

          <div class="post-details">
            <footer class="post-footer d-flex align-items-center"><a routerLink="#" class="author d-flex align-items-center flex-wrap">
                <div class="title"><span>{{post.postedBy}}</span></div></a>
                <div class="likes"><span>Likes: {{post.likes}}</span></div>
                <div class="likes" *ngIf="username == post.postedBy"><a (click)="handleDelete(post._id)" class="btn btn-danger btn-sm pull-right">Delete Post</a></div>
                <div class="caption"><span>{{post.caption}}</span></div>
              <div class="date"><i class="icon-clock"></i> {{post.postDate | date:'mediumDate'}}</div>
              <div class="comments meta-last"><i class="icon-comment"></i>{{post.comments.length}}</div>
            </footer>
          </div>
          
        </div>
    </div>

    <div class="new-post">
        <a routerLink="/newpost">
            <img src="../../assets/images/new-post.png" alt="New post img" width="100px" height="100px"/>
        </a>
    </div>
</div>
