<div class="container">
    <div *ngIf="user == null">
        <h1>Student not found</h1>
        <p>Try again?</p>
    </div>
    <div *ngIf="user != null">
        <h1>Search</h1>
        <mat-card routerLink="/profile">
            <mat-card-header>
                <mat-card-title>@{{user.userName}}</mat-card-title>
                <mat-card-subtitle>
                    {{user.followers}}&nbsp;Followers&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{user.following}}&nbsp;Following
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions align="end">
                <button mat-button>View Profile</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
