<div class="container d-flex justify-content-center">
    <div *ngIf="user == null">
        <h1>Student not found</h1>
        <p>Please try again</p>
    </div>
    <div *ngIf="user != null">
        <h1>Search</h1>
        <mat-card (click)="viewProfile(user.userName)">
            <mat-card-header>
                <mat-card-title>@{{user.userName}}</mat-card-title>
            </mat-card-header>
            <mat-card-actions align="end">
                <button mat-button>View Profile</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
