<div class="container">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody *ngFor="let user of allUsers">
                <tr>
                    <td>{{user.email}}</td>
                    <td>{{user.userName}}</td>
                    <td><a class="btn btn-success btn-sm pull-right">Delete User</a><br /><br /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
