html {
  scroll-behavior: smooth;
}

mat-card {
  width: 800px;
}

.to-top {
  cursor: pointer;
  position: fixed;
  width: 50px;
  height: 50px;
  background: red;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  opacity: 0;
}

.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

img {
  max-width: 347px;
  max-height: 150px;
  display: block;
  object-fit: cover;
  background-size: 150px;
}

.followButton {
  font-size: large;
  border-radius: 5px;
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  position: absolute;
}

.profile-bio {
  max-width: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}