<body>
    <div class="login-box">
        <h2>Welcome to SeneConnect</h2>
        <p>Create an account</p>

        <form (ngSubmit)="formSubmit()" ngNativeValidate>
            <div class="form-group">
                <label for="email">Email</label>
                <i class='bx bxs-envelope'></i>
                <input type="email" id="email" name="email" placeholder="youremail@myseneca.ca" pattern="(\W|^)[\w.\-]{0,25}@(myseneca)\.ca(\W|$)" [(ngModel)]="user.email" required>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <i class='bx bxs-user'></i>
                <input type="username" id="username" name="username" placeholder="Enter username" [(ngModel)]="user.userName" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <i class='bx bxs-key'></i>
                <input type="password" id="password" name="password" placeholder="Enter password" [(ngModel)]="user.password" required>
            </div>

            <div class="alert alert-danger" *ngIf="warning">
                {{warning}}
            </div>

            <input type="submit" value="Register">
        </form>
    </div>
</body>